.equipment-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: #e4e6e8;
}

/* Alinea el texto a la izquierda */
.equipment-label {
    font-size: 0.9rem;
    margin-right: 0.5rem; /* Espacio entre el texto y el switch */
    color: white;
}

/* Estilos para el switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1a365d;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.activity-card {
    max-width: 300px;
    /* Tamaño uniforme para todas las tarjetas */
    flex: 1 1 auto;
    /* Se adapta al espacio disponible */
    background-color: #1a365d;
    /* Fondo celeste */
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

