.clase-alumno-container {
    margin-top: 20px;
}

.clase-card {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 45px;
    background-color: #7675c0;
    color: rgb(43, 43, 100);
}

.clase-card h4 {
    margin: 0 0 5px;
}

.clase-card p {
    margin: 5px 0;
}
