.clase-alumno-container {
    margin-top: 20px;
}

.clase-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.clase-card h4 {
    margin: 0 0 5px;
}

.clase-card p {
    margin: 5px 0;
}
