.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContainer {
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    padding: 20px;
}

.modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.modalHeader h2 {
    margin: 0;
    color: black;
    font-size: 1.5rem;
}

.modalContent {
    margin-bottom: 20px;
    align-content: center;
}

.mainContent {
    max-height: 70vh;
    min-width: 450px;
}

.turnsList {
    max-height: 65vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Formulario de edición */
.editForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.editForm h3 {
    color: black;
    margin-bottom: 12px;
}

.editForm > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.editForm label {
    font-weight: bold;
    color: black;
}

.editForm input {
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
}

.turnItem {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f8f8f8;
    display: flex; /* Flexbox para alinear contenido */
    justify-content: space-between; /* Espaciado entre texto y botón */
    align-items: center; /* Centrar verticalmente */
}

.turnItem div {
    margin: 0; /* Reducido para evitar demasiados espacios */
}

/* Pie del modal */
.modalFooter {
    padding: 12px 15px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
}

.editButton {
    padding: 5px 10px 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:fit-content;
}


.editButton:hover {
    background-color: #45a049; /* Verde más oscuro */
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modalFooter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.submitButton,
.cancelButton {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.cancelButton {
    background-color: #f44336;
    color: white;
    border: none;
}

.submitButton:hover {
    background-color: #0ea10b;
}

.cancelButton:hover {
    background-color: #ff3700;
}

.categorias {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
