.admin-dashboard {
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.admin-title {
    font-size: 4em;
    text-align: center;
    margin-bottom: 40px; /* Más separación con las tarjetas */
    font-family: 'Georgia', serif; /* Cambia la fuente */
    color: white;
}

.admin-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.admin-card {
    background-color: #7ba7e4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a365d;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1d3778;
}

.generate-reports-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px; /* Tamaño compacto */
    background-color: #1a365d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: auto; /* No ocupa todo el ancho */
    text-align: center;
}

.generate-reports-button:hover {
    background-color: #1d3778;
}


/* Estilo del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
