.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    color: black;
    max-height: 90vh;
    overflow-y: auto;
}

.modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.closeButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    color: black;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input,
.formGroup select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modalFooter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.submitButton,
.cancelButton {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.cancelButton {
    background-color: #f44336;
    color: white;
    border: none;
}

.checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Espacio entre los checkboxes */
}

.checkboxLabel {
    display: flex;
    align-items: center;
    font-size: 14px;
    /* Tamaño de texto pequeño */
    margin: 0;
    padding: 2px 5px;
    /* Reduce el espacio interno */
    cursor: pointer;
    /* Cambia el cursor para indicar que es interactivo */
}

.checkboxLabel input[type="checkbox"] {
    margin-right: 5px;
    /* Espacio entre el checkbox y el texto */
    width: 14px;
    /* Tamaño del checkbox */
    height: 14px;
}